<ion-content fullscreen="true">
  <ng-container id="trend-items-wrapper">
    <ion-toolbar class="ion-padding-horizontal">
      <ion-buttons slot="start">
        <ion-button>
          Clear
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          Done
        </ion-button>
      </ion-buttons>

      <ion-title>Filter</ion-title>
    </ion-toolbar>


    <ion-list lines="none">
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle class="ion-padding">Quick Filter</ion-card-subtitle>
          <ion-item *ngFor="let item of ('hell'.split(''))">
            <ion-label>Checkbox</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-radio-group value="biff">
          <ion-card-content>
            <ion-card-subtitle class="ion-padding">Sort By</ion-card-subtitle>
            <ion-item *ngFor="let item of ('hel'.split(''))">
              <ion-label>Biff</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
          </ion-card-content>
        </ion-radio-group>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-card-subtitle class="ion-padding">Promotions</ion-card-subtitle>
          <ion-item *ngFor="let item of ('he'.split(''))">
            <ion-label>Checkbox</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>




  <ion-fab vertical="bottom" style="width: 100%;" slot="fixed" class="ion-padding">
    <ion-button expand="block" fill="solid">Apply
    </ion-button>
  </ion-fab>

</ion-content>