<ion-content fullscreen="true">
  <ng-container id="trend-items-wrapper">
    <ion-item>
      <h3 slot="start">Filter</h3>
      <ion-button slot="end" expand="block" fill="clear" shape="round">
        Clear Filter
      </ion-button>
    </ion-item>

    <ion-list lines="none">
      <ion-card>
        <ion-card-content>
          <ion-card-subtitle class="ion-padding">Quick Filter</ion-card-subtitle>
          <ion-item *ngFor="let item of ('hell'.split(''))">
            <ion-label>Checkbox</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-radio-group value="biff">
          <ion-card-content>
            <ion-card-subtitle class="ion-padding">Sort By</ion-card-subtitle>
            <ion-item *ngFor="let item of ('hel'.split(''))">
              <ion-label>Biff</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
          </ion-card-content>
        </ion-radio-group>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-card-subtitle class="ion-padding">Promotions</ion-card-subtitle>
          <ion-item *ngFor="let item of ('he'.split(''))">
            <ion-label>Checkbox</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>

  <!-- TODO, make apply button float/fab expand start to end -->
  <ion-button expand="block" fill="outline">Apply
  </ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>