<ion-content class="ion-text-center" fullscreen="true">
  <!-- TODO, close button should be added -->
  <div class="header">
    <h3>Enter Code</h3>
    <p>* * * * *</p>
    <p>We have sent you an SMS on +90 555 555 55 55 with 6 digit verification code.</p>
  </div>
  <div>
    <div class="container">
      <ion-item class="ion-padding">
        <ion-label>Enter Code : </ion-label>
        <ion-input type="number" inputmode="numeric" placeholder="   1  2  3  4  5  6  "></ion-input>
      </ion-item>
    </div>
    <section class="button-container">
      <ion-button (click)="verify()" class="ion-padding" expand="block">Verify</ion-button>
      <br />
      <p>Did not receive the code?</p>
      <ion-button fill="outline">Re-send</ion-button>
    </section>
  </div>
</ion-content>

<app-footer-message message="By continuing, you agree to Terms & Conditions"></app-footer-message>