<ion-content class="ion-text-center" fullscreen="true">
  <!-- TODO, close button should be added -->
  <div class="header">
    <h3>Enter Code</h3>
    <p>* * * * *</p>
    <p>We have sent you an SMS on +90 555 555 55 55 with 6 digit verification code.</p>
  </div>
  <div>
    <div class="container">
      <ion-item class="ion-padding">
        <ion-label></ion-label>
        <ion-input type="tel" value="+90 555 555 55 55"></ion-input>
      </ion-item>
    </div>
    <section class="button-container">
      <ion-button (click)="openConfirmationModal()" class="ion-padding" expand="block">Verify</ion-button>
    </section>
  </div>
</ion-content>

<app-footer-message message="By continuing, you agree to Terms & Conditions"></app-footer-message>