<ion-content fullscreen="true">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <div class="image-wrapper">
          <img
            src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=931&q=80"
            alt="alt text" />
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="header">
    <h1>Brand Name</h1>
  </div>
  <section class="button-container">
    <ion-button class="ion-padding" expand="block">Explore</ion-button>
    <ion-button class="ion-padding" expand="block" (click)="goMembershipSelection()">Register</ion-button>
  </section>
  <p size="small">By continuing, you agree to Terms & Conditions</p>
</ion-content>