.slide p {
    text-align: center;
    padding-bottom: 90px;
}

.image-wrapper {
    padding: 100px 100px 0 100px;
}

.button-container {
    padding: 25px;
}

p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
}