<ion-content fullscreen="true">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <div class="image-wrapper">
          <img src="https://via.placeholder.com/931x739" alt="alt text" />
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="header">
    <h1>Brand Name</h1>
  </div>
  <section class="button-container">
    <ion-button class="ion-padding" expand="block" (click)="goClientRegister()">Client</ion-button>
    <ion-button class="ion-padding" expand="block" (click)="goMemberRegisterType()">Member</ion-button>
  </section>
</ion-content>

<app-footer-message message="By continuing, you agree to Terms & Conditions"></app-footer-message>